[submodule "hansoft_typescript"]
	path = packages/hansoft_typescript
	url = https://bitbucket.org/objsheets/hansoft_typescript
[submodule "handsontable"]
	path = tests/handsontable
	url = https://bitbucket.org/objsheets/handsontable
