.incomparable {
   border-right: none !important;
}

.handsontable td.rsHeader {
  background-color: #EEE;
}

.handsontable td.rsHeaderTop {
  border-top: 1px solid #CCC;
  border-bottom: none;
}

.handsontable td.rsHeaderBelow {
  border-top: 1px dashed #CCC;
}

.handsontable td.rsCaption:not(.area) {
  background-color: #888;
  color: #FFF;
}

/* Ugly but at least recognizable. */
.rsDialog {
  border: 3px outset;
}
