body { margin: 0; }

#ViewWrapper {
  box-sizing: border-box;
  padding: 9px;
  width: 100%;
}
#View {
  width: 100%;
}

.separator:not(.rsHeader) {
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(220,220,220,0.1) 50%,rgba(220,220,220,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(220,220,220,0.1) 50%,rgba(220,220,220,0.5) 100%); /* Chrome10+,Safari5.1+ */
}

.incomparable.rsHeader {
  border-right: none !important;
}
.incomparable:not(.rsHeader) {
  /*
  Work around https://bugzilla.mozilla.org/show_bug.cgi?id=332740 in Firefox.
  Unfortunately, this takes a one-pixel bite out of some of the other borders.
  */
  border-right: 1px solid transparent !important;
}

.handsontable td.referent {
  box-shadow: inset 0px 0px 4px 3px #C9C;
  background-color: #FDF;
}

/*
Override some Handsontable styles.  div.htContainer is an extra selector that
will always match, just to get higher priority.
*/
.handsontable div.htContainer td {
  /* Allow height to be determined by settings. */
  height: auto;
}
.handsontable div.htContainer table.htCore {
  /*
  Allows the right border of a cell to be used interchangeably with the left
  border of the next cell to the right, and similarly for horizontal borders;
  otherwise, the borders would be slightly misaligned.  This is used for
  rsHeaderCorner.
  */
  border-collapse: collapse;
}

.handsontable td.rsHeader {
  /*background-color: #EEE;*/
}

.handsontable td.rsHeaderNonfinal {
  border-right: none;
}

.handsontable td.rsHeader.rsHeaderCorner {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: none;
}

.handsontable td.rsHeaderPadding {
  border-top: 1px solid #CCC;
  border-bottom: none;
}

.handsontable td.rsHeader.separator {
  border-right: none;
}

.handsontable td.rsHeader.rsFullHeightSeparator {
  border-top: 1px solid #CCC;
}

.handsontable td.rsHeaderBelow {
  border-left: 1px solid #CCC;
}

.handsontable td.rsHeaderNameAlone {
  border-top: 1px solid #CCC;
}

.handsontable td.rsHeaderName {
  border-top: 1px dashed #CCC;
}

.handsontable td.rsHeaderColor0:not(.area) {
  background-color: #FAA;
}
.handsontable td.rsHeaderColor1:not(.area) {
  background-color: #FFA;
}
.handsontable td.rsHeaderColor2:not(.area) {
  background-color: #AFA;
}
.handsontable td.rsHeaderColor3:not(.area) {
  background-color: #AFF;
}
.handsontable td.rsHeaderColor4:not(.area) {
  background-color: #AAF;
}
.handsontable td.rsHeaderColor5:not(.area) {
  background-color: #FAF;
}

.handsontable td.rsCaption:not(.area) {
  background-color: #888;
  color: #FFF;
  vertical-align: top;
}

.handsontable td.centered {
  text-align: center;
  vertical-align: middle;
}

.handsontable button.headerCollapse {
  background: transparent;
  border: 1px solid white !important;
  color: white;
  font-family: monospace;
  padding: 0 2px;
}

/* Ugly but at least recognizable. */
.rsDialog {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}

.rsDialog label {
  font-family: sans-serif;
  font-size: smaller;
}

.rsDialog h1 {
  float: left;
  margin: 9px;
}

.formulaModified {
  background-color: #FF0;
}

#ActionBar {
  height: 4em;
  padding: 9px;
  background: rgb(133,178,211); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(133,178,211,1) 0%, rgba(167,199,220,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,178,211,1)), color-stop(100%,rgba(167,199,220,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(133,178,211,1) 0%,rgba(167,199,220,1) 100%); /* Chrome10+,Safari5.1+ */
}

#ActionBar label { color: #006; }

.buttonBox {
  white-space: nowrap;
  width: 1px;
  vertical-align: bottom;
  padding-left: 1em;
}
