body { margin: 0; }

#View {
  box-sizing: border-box;
  padding: 9px;
  width: 100%;
  overflow-x: scroll;
}

.separator {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(220,220,220,0.1) 50%,rgba(220,220,220,0.5) 100%); /* Chrome10+,Safari5.1+ */
}

.incomparable {
   border-right: none !important;
}

.handsontable td.rsHeader {
  background-color: #EEE;
}

.handsontable td.rsHeaderTop {
  border-top: 1px solid #CCC;
  border-bottom: none;
}

.handsontable td.rsHeaderBelow {
  border-top: 1px dashed #CCC;
}

.handsontable td.rsCaption:not(.area) {
  background-color: #888;
  color: #FFF;
}

/* Ugly but at least recognizable. */
.rsDialog {
  border: 3px outset;
}

.formulaModified {
  background-color: #FF0;
}

#ActionBar {
  min-height: 3em;
  padding: 9px;
  background: rgb(133,178,211); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(133,178,211,1) 0%, rgba(167,199,220,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,178,211,1)), color-stop(100%,rgba(167,199,220,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(133,178,211,1) 0%,rgba(167,199,220,1) 100%); /* Chrome10+,Safari5.1+ */
}

#ActionBar label { color: #006; }

.buttonBox {
  white-space: nowrap;
  width: 1px;
  vertical-align: bottom;
  padding-left: 1em;
}
